<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rewind-Remind</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="../bower_components/bulma/css/bulma.css" rel="stylesheet"></link>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <script src="../bower_components/particles.js/particles.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../assets/js/angular/dashboard.js"></script>

    <style>
        
        html, body{
            height: 100%;
            background-color: #9FA8DA;
            padding: 20px;
        }

        .main-col{
            height: 100%;
        }

        .main-box {
            margin: 20px;
            background-color: white;
            box-shadow: 5px 5px;
        }
        .w-col {
            height: 27%;
        }
        .box-col{
            
            margin: auto;
        }

        #logout {
            vertical-align: bottom;
        }

        i {
            color: black;
        }

        a {
            text-decoration: none;
        }

        .redcolor {
            
            background-color: #EF5350;
        }

        .greencolor {
            background-color: #8BC34A;
        }

    </style>
</head>
<body ng-app="dashboardApp" ng-controller="dashboardController">

    <!-- Making the first name and the second name in uppercase -->
    <% user.firstname = user.firstname[0].toUpperCase() + user.firstname.substring(1, user.firstname.length) %>
    <% user.lastname = user.lastname[0].toUpperCase() + user.lastname.substring(1, user.lastname.length) %>

    <div class="modal" ng-class="{'is-active': hidden.hint}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Results</p>
                <button class="delete" ng-click="closebutton()"></button>
            </header>
            <section class="modal-card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Word Pair
                            </th>
                            <th>
                                Solution
                            </th>
                            <th>
                                Time Taken To Answer
                            </th>
                            <th>
                                Hint Used?
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                Word Pair
                            </th>
                            <th>
                                Solution
                            </th>
                            <th>
                                Time Taken To Answer
                            </th>
                            <th>
                                Hint Used?
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr ng-repeat="wordpair in words">
                            <td class="" ng-class="{redcolor: wordpair[3] == 'wrong', greencolor: wordpair[3] == 'right'}"><strong>{{wordpair[0]}} - {{wordpair[1]}}</strong></td>
                            <td class="" ng-class="{redcolor: wordpair[3] == 'wrong', greencolor: wordpair[3] == 'right'}"><strong>{{wordpair[3]}}</strong></td>
                            <td class="text-center" ng-class="{redcolor: wordpair[3] == 'wrong', greencolor: wordpair[3] == 'right'}"><strong>{{wordpair[4]}}</strong></td>
                            <td class="" ng-class="{redcolor: wordpair[3] == 'wrong', greencolor: wordpair[3] == 'right'}"><strong>{{wordpair[5]}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <footer class="modal-card-foot">
                <p class="text-center" style="color: red">This will show the results of the game you played the first time. You can play the game again for practice but your new answers would not be recorded.</p>
            </footer>
        </div>
    </div>

    <!-- The row has started -->
    <div class="row main-col">


        <!-- The info column has started -->
        <div class="col-md-3 box" style="margin: 10px; padding: 30px">
            <h1 class="page-header text-center">Information</h1>
            
            <h2>Account Information</h2>
            <p><strong>Name: </strong><%= user.firstname + ' ' + user.lastname  %></p>
            <p><strong>Email: </strong><%= user.email  %></p>
            <p><strong>Category: </strong><%= user.stype  %></p>
            
            <hr>

            <h2>Game Details</h2>
            <p>i'll poop after this. i'll poop after this. i'll poop after this. i'll poop after this. i'll poop after this.i'll poop after this. i'll poop after this.
            i'll poop after this. i'll poop after this. i'll poop after this. i'll poop after this. i'll poop after this. i'll poop after this. i'll poop after this. 
            i'll poop after this. i'll poop after this. i'll poop after this. i'll poop after this. i'll poop after this. i'll poop after this. </p>

            <hr>

            <h2>Research Details</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id a ab illo repellat ipsa nostrum quo ipsam adipisci quasi. Laboriosam ducimus consequatur quaerat minus ab sit voluptatibus obcaecati expedita placeat eligendi, aspernatur beatae corrupti cumque perspiciatis voluptas minima veritatis! Odit earum hic facilis aut minima quae debitis, quia molestiae.</p>

             <br>
            <div class="text-center is-clearfix">
                <a class="button is-large is-danger is-fullwidth" id="logout" href="/logout">Logout</a>
            </div> 
        </div>
        <!-- The info column has ended -->




        <!-- The dashboard column has started -->
        <div class="col-md-8 box text-center main-col" style="margin: 10px;">
            <h1 class="page-header text-center">Dashboard</h1>




            
            <div class="columns w-col" style="border-bottom: 1px solid black">


                <div class="column box-col">
                    <h1>Week 1</h1>
                </div>


                <div class="column box-col">
                    <a class="button is-success is-large" href="/game/memorize/11">Game 1</a>
                    <br>
                    <% if(user.current >= 12) { %>
                        <a class="button is-warning" style="margin-top: 10px" ng-click="result11()">Result</a>
                    <% } %>
                </div>


                <div class="column box-col">
                    <% var color1; var disabled1; var lock1; if(user.current < 12) {color1 = "is-danger"; disabled1 = 'is-disabled'; lock1='fa fa-lock fa-2x is-overlay';} else {disabled1 = ''; lock1=''; color1 = "is-success"; } %>
                    <a href="/game/memorize/12" class="button <%= color1 %> is-large <%= disabled1 %>">
                        <i class=" <%= lock1 %> text-center"></i>Game 2</a>
                    <br>
                    <% if(user.current >= 13) { %>
                        <a class="button is-warning" style="margin-top: 10px" ng-click="result12()">Result</a>
                    <% } %>
                </div>


                <div class="column box-col">
                    <% var color2; var disabled2; var lock2; if(user.current < 13) {color2 = "is-danger"; disabled2 = 'is-disabled'; lock2 = 'fa fa-lock fa-2x is-overlay'; } else {color2 = "is-success"; disabled2 = ''; lock2 = '';} %>
                    <a href="/game/memorize/13" class="button is-large <%= color2 %> <%= disabled2 %>"><i class=" <%= lock2 %> text-center"></i>Game 3</a>
                    <br>
                    <% if(user.current >= 21) { %>
                        <a class="button is-warning" style="margin-top: 10px" ng-click="result13()">Result</a>
                    <% } %>
                </div>



            </div>




            <div class="columns w-col" style="border-bottom: 1px solid black">


                <div class="column box-col">
                    <h1>Week 2</h1>
                </div>


                <div class="column box-col">
                    <% var color3; var disabled3; var lock3; if(user.current < 21) {color3="is-danger"; disabled3 = 'is-disabled'; lock3 = 'fa fa-lock fa-2x is-overlay'; } else {color3="is-success"; disabled3 = ''; lock3 = '';} %>
                    <a href="/game/memorize/21" class="button <%= color3 %> is-large <%= disabled3 %>"><i class="text-center <%= lock3 %>"></i>Game 1</a>
                    <br>
                    <% if(user.current >= 22) { %>
                        <a class="button is-warning" style="margin-top: 10px" ng-click="result21()">Result</a>
                    <% } %>
                </div>


                <div class="column box-col">
                    <% var color4; var disabled4; var lock4; if(user.current < 22) {color4="is-danger"; disabled4 = 'is-disabled'; lock4 = 'fa fa-lock fa-2x is-overlay'; } else {color4="is-success"; disabled4 = ''; lock4 = '';} %>
                    <a href="/game/memorize/22" class="button <%= color4 %> is-large <%= disabled4 %>"><i class="text-center <%= lock4 %>"></i>Game 2</a>
                    <br>
                    <% if(user.current >= 23) { %>
                        <a class="button is-warning" style="margin-top: 10px" ng-click="result22()">Result</a>
                    <% } %>
                </div>


                <div class="column box-col">
                    <% var color5; var disabled5; var lock5; if(user.current < 23) {color5="is-danger"; disabled5 = 'is-disabled'; lock5 = 'fa fa-lock fa-2x is-overlay'; } else {color5="is-success"; disabled5 = ''; lock5 = '';} %>
                    <a href="/game/memorize/23" class="button <%= color5 %> is-large <%= disabled5 %>"><i class="text-center <%= lock5 %>"></i>Game 3</a>
                    <br>
                    <% if(user.current >= 31) { %>
                        <a class="button is-warning" style="margin-top: 10px" ng-click="result23()">Result</a>
                    <% } %>
                </div>


            </div>



            <div class="columns w-col">


                <div class="column box-col">
                    <h1>Week 3</h1>
                </div>


                <div class="column box-col">
                    <% var color6; var disabled6; var lock6; if(user.current < 31) {color6="is-danger"; disabled6 = 'is-disabled'; lock6 = 'fa fa-lock fa-2x is-overlay'; } else {color6="is-success"; disabled6 = ''; lock6 = '';} %>
                    <a href="/game/memorize/31" class="button <%= color6 %> is-large <%= disabled6 %>"> <i class="text-center <%= lock6 %>"></i>Game 1</a>
                    <br>
                    <% if(user.current >= 32) { %>
                        <a class="button is-warning" style="margin-top: 10px" ng-click="result31()">Result</a>
                    <% } %>
                </div>


                <div class="column box-col">
                    <% var color7; var disabled7; var lock7; if(user.current < 32){ color7="is-danger"; disabled7 = 'is-disabled'; lock7 = 'fa fa-lock fa-2x is-overlay'} else{color7="is-success"; disabled7 = ''; lock7="" }%>
                    <a href="/game/memorize/32" class="button <%= color7 %> is-large <%= disabled7 %>"><i class="text-center <%= lock7 %>"></i>Game 2</a>
                    <br>
                    <% if(user.current >= 33) { %>
                        <a class="button is-warning" style="margin-top: 10px" ng-click="result32()">Result</a>
                    <% } %>
                </div>


                <div class="column box-col">
                    <% var color8; var disabled8; var lock8; if(user.current < 33){ color8="is-danger"; disabled8 = 'is-disabled'; lock8 = 'fa fa-lock fa-2x is-overlay'} else{color8="is-success"; disabled8 = ''; lock8="" }%>
                    <a href="/game/memorize/33" class="button <%= color8 %> is-large <%= disabled8 %>"><i class="text-center <%= lock8 %>"></i>Game 3</a>
                    <br>
                    <% if(user.current >= 41) { %>
                        <a class="button is-warning" style="margin-top: 10px" ng-click="result33()">Result</a>
                    <% } %>
                </div>


            </div>



        </div> <!-- The dashboard column has ended --> 


    </div> <!-- The row has ended -->     
   
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        particlesJS.load('particles-js', '../bower_components/particles.js/demo/particles.json', function() {
          console.log('callback - particles.js config loaded');
        });
    </script>
</body>
</html>