<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rewind-Remind</title>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="../bower_components/bulma/css/bulma.css" rel="stylesheet"></link>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></link>
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">

    <style>
        
        html, body{
            height: 100%;
            background-color: #3273DC;
            padding: 20px;
        }

        .main-col{
            height: 100%;
        }

        .main-box {
            margin: 20px;
            background-color: white;
            box-shadow: 5px 5px;
        }
        .w-col {
            height: 27%;
        }
        .box-col{
            
            margin: auto;
        }

        #logout {
            vertical-align: bottom;
        }

        i {
            color: black;
        }

    </style>
</head>
<body>
    
    <% user.firstname = user.firstname[0].toUpperCase() + user.firstname.substring(1, user.firstname.length) %>
    <% user.lastname = user.lastname[0].toUpperCase() + user.lastname.substring(1, user.lastname.length) %>

    <div class="row main-col">

        <div class="col-md-3 box" style="margin: 10px" >
            <h1 class="page-header text-center">Info</h1>
            <h2>Game Details</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id a ab illo repellat ipsa nostrum quo ipsam adipisci quasi. Laboriosam ducimus consequatur quaerat minus ab sit voluptatibus obcaecati expedita placeat eligendi, aspernatur beatae corrupti cumque perspiciatis voluptas minima veritatis! Odit earum hic facilis aut minima quae debitis, quia molestiae.</p>

            <br>
            <h2>Research Details</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat id a ab illo repellat ipsa nostrum quo ipsam adipisci quasi. Laboriosam ducimus consequatur quaerat minus ab sit voluptatibus obcaecati expedita placeat eligendi, aspernatur beatae corrupti cumque perspiciatis voluptas minima veritatis! Odit earum hic facilis aut minima quae debitis, quia molestiae.</p>

             <br><br><br>
            <div class="text-center is-clearfix">
                <a class="button is-large is-danger is-fullwidth" id="logout" href="/logout">Logout</a>
            </div>    
        </div>

        <div class="col-md-8 box text-center main-col" style="margin: 10px;">
            <h1 class="page-header text-center">Dashboard</h1>
            
            <div class="columns w-col" style="border-bottom: 1px solid black">
                <div class="column box-col">
                    <h1>Week 1</h1>
                </div>
                <div class="column box-col">
                    <a class="button is-danger is-large" href="/game">Game 1</a>
                </div>
                <div class="column box-col">
                    <% var disabled; var lock; if(user.current < 12) {disabled = 'is-disabled'; lock='fa fa-lock fa-2x is-overlay';} else {disabled = ''; lock='';} %>
                    <a href="/game" class="button is-danger is-large <%= disabled %>">
                        <i class=" <%= lock %> text-center"></i>Game 2</a>
                </div>
                <div class="column box-col">
                    <% var disabled; var lock; if(user.current < 13) {disabled = 'is-disabled'; lock = 'fa fa-lock fa-2x is-overlay'; } else {disabled = ''; lock = '';} %>
                    <a href="/game" class="button is-danger is-large <%= disabled %>"><i class=" <%= lock %> text-center"></i>Game 3</a>
                </div>
            </div>

            <div class="columns w-col" style="border-bottom: 1px solid black">
                <div class="column box-col">
                    <h1>Week 2</h1>
                </div>
                <div class="column box-col">
                    <% var disabled; var lock; if(user.current < 21) {disabled = 'is-disabled'; lock = 'fa fa-lock fa-2x is-overlay'; } else {disabled = ''; lock = '';} %>
                    <a href="/game" class="button is-danger is-large <%= disabled %>"><i class="text-center <%= lock %>"></i>Game 1</a>
                </div>
                <div class="column box-col">
                    <% var disabled; var lock; if(user.current < 22) {disabled = 'is-disabled'; lock = 'fa fa-lock fa-2x is-overlay'; } else {disabled = ''; lock = '';} %>
                    <a href="/game" class="button is-danger is-large <%= disabled %>"><i class="text-center <%= lock %>"></i>Game 2</a>
                </div>
                <div class="column box-col">
                    <% var disabled; var lock; if(user.current < 23) {disabled = 'is-disabled'; lock = 'fa fa-lock fa-2x is-overlay'; } else {disabled = ''; lock = '';} %>
                    <a href="/game" class="button is-danger is-large <%= disabled %>"><i class="text-center <%= lock %>"></i>Game 3</a>
                </div>
            </div>

            <div class="columns w-col">
                <div class="column box-col">
                    <h1>Week 3</h1>
                </div>
                <div class="column box-col">
                    <% var disabled; var lock; if(user.current < 31) {disabled = 'is-disabled'; lock = 'fa fa-lock fa-2x is-overlay'; } else {disabled = ''; lock = '';} %>
                    <a href="/game" class="button is-danger is-large <%= disabled %>">Game 1</a>
                </div>
                <div class="column box-col">
                    <% var disabled; if(user.current < 32) disabled = 'is-disabled'; else disabled = '' %>
                    <a href="/game" class="button is-danger is-large <%= disabled %>">Game 2</a>
                </div>
                <div class="column box-col">
                    <% var disabled; if(user.current < 33) disabled = 'is-disabled'; else disabled = '' %>
                    <a href="/game" class="button is-danger is-large <%= disabled %>">Game 3</a>
                </div>
            </div>

        </div>
    </div>
   
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>